/* The stylesheet is only for index.html not the other subpages */
@import url('../assets/fonts/stylesheet.css');

body {
    background-color: #000000;
    font-family: 'shnebuch', sans-serif;
}

/* 
    NAV 
*/

.tab-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 1rem 2rem;
    color: #ffffff;
}

.tab-bar-logo {
    display: flex;
    align-items: center;
}

.tab-bar-logo img {
    width: 24px; /* Taille de l'icône du logo */
    height: 24px;
    margin-right: 8px;
}

.tab-bar-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab-bar-menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.tab-bar-menu li a:hover {
    color: #B4B4B4;
}

.tab-bar-search img {
    width: 20px; /* Taille de l'icône de recherche */
    height: 20px;
    cursor: pointer;
}

.tab-bar-search {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-icon {
    width: 14px; /* Ajuste la taille du SVG */
    height: 14px;
    color: #ffffff; /* Couleur de la loupe */
    transition: transform 0.3s ease, color 0.3s ease;
}

.tab-bar-search:hover .search-icon {
    color: #B4B4B4; /* Change la couleur de la loupe au survol */
    transform: scale(1.1); /* Agrandit légèrement la loupe au survol */
}


/* 
    HEADER 
*/

/* 
    MAIN 
*/

/* 
    FOOTER 
*/

.footer {
    max-width: 1125px; /* Desired maximum width */
    margin: 10.113125rem auto 2.125625rem auto; /* Top, right, bottom, left margins */
    color: #ffffff; /* White text */
    line-height: 24px;
    position: static;
    z-index: auto;
    box-sizing: border-box;
    font-size: 13.48px;
    font-family: 'shnebuch', sans-serif;
    display: block;
}

.footer-container {
    display: flex;
    gap: 2.84375rem; /* Space between sections */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    flex-direction: row;
    margin-bottom: 108px;
}

@media screen and (max-width: 1024px) {
    .footer-container {
        gap: 60px;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        gap: 40px;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer-container {
        gap: 30px;
    }
}

.footer-section span {
    margin-bottom: 1rem; /* Space below headings */
    color: #B4B4B4;
}

.footer-section ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
}

.footer-section li {
    margin: 1.4rem 0; /* Space between list items */
}

.footer-bottom .copyright {
    color: #B4B4B4;
}

.footer-section a {
    color: #ffffff; /* Link color */
    text-decoration: none; /* Remove underline */
}

.footer-section a:hover {
    text-decoration: underline; /* Underline on hover */
}

.first-section {
    flex: 1;
    width: 100%;
}

.bottom .footer-bottom {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.bottom .footer-bottom p {
    margin-right: 1rem; /* Space between copyright and cookies*/
}

.bottom .footer-bottom a {
    color: #FFFFFF; /* White color for the link */
    text-decoration: none; /* No underline by default */
    position: relative; /* Necessary for the pseudo-element */
    transition: color 0.3s ease; /* Animation for the color */
}

.bottom .footer-bottom a::after {
    content: ''; /* Necessary to create a pseudo-element */
    display: block; /* Allows control over the size */
    height: 1px; /* Thickness of the underline */
    background-color: #616161; /* Gray color for the underline */
    transition: background-color 0.3s ease; /* Animation for the underline */
    width: 100%; /* Takes the full width of the link */
    position: absolute; /* Positioning relative to the link */
    left: 0; /* Aligns to the left */
    bottom: -1px; /* Positions the underline just below the text */
}

.bottom .footer-bottom a:hover {
    color: #FFFFFF; /* White color on hover */
}

.bottom .footer-bottom a:hover::after {
    background-color: #FFFFFF; /* Underline becomes white on hover */
}

.bottom {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .bottom {
        flex-direction: column;
        align-items: center; /* Centre les éléments */
    }

    .bottom .social {
        margin-bottom: 1rem; /* Espace entre social et footer-bottom */
    }
}

.bottom .social {    
    display: flex;
    gap: 2.125625rem;
}

.bottom .social a {
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
    flex-direction: row;
    margin: auto;
}

.bottom .social svg {
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
}
